@*@model IEnumerable<Demo.Aspnet.Mvc.SportStore.Domain.Entities.Product>*@
@model Demo.Aspnet.Mvc.SportStore.WebUI.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "List";
}

@foreach( var product in Model.Products )
{
    Html.RenderPartial("ProductSummary", product);
}

<div class="pager">@Html.PageLinks( Model.PagingInfo, x => Url.Action( "List", new { pageIndex = x, category = Model.CurrentCategory } ) )</div>
